h1, h2, h3, h4{
	font-family: 'Open Sans', sans-serif;
}


/* ingresar */

.form-signin-heading {
  text-align: center;
}
form{
  margin:10px auto;
  
  text-align: center;
  width: 100%;
}

.black-background{
  background-color:#000000;
}
.white{
  color:#ffffff;
}

/* Contacto */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);



::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
form{
  width: 100%;
}

/* Registro */
.background{
  border-color: #F5F5F5;
  background-color: #F5F5F5
}
p{
  text-align: center;
    font-size: 20px;
}
